pandas
scikit-learn
scikit-optimize
optuna
imbalanced-learn
numpy
joblib
pyyaml
matplotlib
pytest 
pytest-mock
tqdm
# beartype
rich 
mlflow
# pydantic
odfpy
mkdocs
mkdocs-material
pymdown-extensions
mkdocstrings[python]
mkdocs-autodoc
loguru
tabulate