pandas
scikit-learn
imbalanced-learn
numpy
joblib
pyyaml
matplotlib
pytest 
pytest-mock
tqdm
# beartype
rich
mlflow
# pydantic
odfpy
mkdocs
mkdocs-material
pymdown-extensionspip 
mkdocstrings'[python]'
mkdocs-autodoc
python -m scripts.train_pipeline
logurus


tabulate